{{ define "main" }}
  <section class="section">
    <div class="container">
      <h1 class="reveal">{{ .Title }}</h1>
      <div class="grid-3 cards">
        {{ range .Paginator.Pages }}
          <article class="card reveal">
            <div class="card-body">
              <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
              <p>{{ .Summary }}</p>
            </div>
          </article>
        {{ end }}
      </div>
      {{ template "_internal/pagination.html" . }}
    </div>
  </section>
{{ end }}
